# RDBS
*.db-journal

*.db

# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

proto/

shared/cache
shared/cache/
shared/cache/**

# Folders
*.boltdb
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

vendor
vendor/
vendor/**

dist/grawler-*
dist/scraper-*
bin/scraper
bin/server

shared/cache/
shared/cache/**

shared/data/deepdetect/
shared/data/deepdetect/**

shared/data/elasticsearch/
shared/data/elasticsearch/**

shared/data/etcd/
shared/data/etcd/**

server.rsa.crt
server.rsa.key

panicparse

shared/data/influxdb/data
shared/data/influxdb/meta
shared/data/influxdb/wal

shared/data/grafana/lib
shared/data/grafana/log

shared/data/etcd/member
.env
*.db
*.crt
*.key
*.csr
*.pem
